<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FirmaYonetimWeb</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FirmaYonetimWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <nav class="d-flex flex-column flex-shrink-0 p-3" style="width: 190px; min-height: 100vh; background-color: #201c29; color: #625f69;">
            <div class="container-fluid">
                @if(User.Identity.IsAuthenticated){
                    <a class="navbar-brand d-block mb-4 text-center" asp-area="" asp-controller="Home" asp-action="Index">Firma</a>
                }
                else{
                    <a class="navbar-brand d-block mb-4 text-center" asp-area="" asp-controller="Account" asp-action="SignIn">Firma</a>
                }
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"  style="color: #625f69">
                    <ul class="navbar-nav flex-grow-1">


                        @if (User.Identity.IsAuthenticated)
                        {
                            <!--home-->
                            <li class="nav-item mb-4">
                                <a class="nav-link d-flex flex-column align-items-center gap-2" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fa-solid fa-house fa-lg"></i>
                                    AnaSayfa
                                </a>
                            </li>
                            <!--belediye-->
                            <li class="nav-item mb-4 text-center">
                                <a class="nav-link d-flex flex-column align-items-center gap-2" asp-area="" asp-controller="Belediye" asp-action="BelediyeList">
                                    <i class="fa-solid fa-tree-city fa-lg"></i>
                                    Belediye Yönetimi
                                </a>
                            </li>

                            <li class="nav-item mb-4 text-center">
                                <a class="nav-link d-flex flex-column align-items-center gap-2" asp-area="" asp-controller="Gorev" asp-action="GorevList">
                                    <i class="fa-solid fa-list-check"></i>
                                    Görevler
                                </a>
                            </li>

                            <li class="nav-item mb-4 text-center">
                                <a class="nav-link d-flex flex-column align-items-center gap-2" asp-area="" asp-controller="Gorev" asp-action="UserGorevList">
                                    <i class="fa-solid fa-clipboard-user"></i>
                                    Kişisel Görevler
                                </a>

                            </li>

                            <li class="nav-item mb-4 text-center">
                                <a class="nav-link d-flex flex-column align-items-center gap-2" asp-area="" asp-controller="BelediyePersonel" asp-action="Index">
                                    <i class="fa-solid fa-user-tie"></i>
                                    Belediye Personelleri
                                </a>
                            </li>

                            @if(User.IsInRole("Admin")){
                                <li class="nav-item mb-4 text-center">
                                    <a class="nav-link d-flex flex-column align-items-center gap-2" asp-area="" asp-controller="User" asp-action="UserList">
                                        <i class="fa-solid fa-users"></i>
                                        Firma Personelleri
                                    </a>
                                </li>
                            }
                           


                        }


                        @if(!User.Identity.IsAuthenticated){
                            <li class="nav-item mb-4 text-center">
                                <a>
                                    <a class="nav-link d-flex flex-column align-items-center gap-2" asp-area="" asp-controller="Account" asp-action="SignIn">
                                        <i class="fa-solid fa-right-to-bracket"></i>
                                        Giriş Yap
                                    </a>
                                </a>
                            </li>

                          
                        }

                        @if(User.Identity.IsAuthenticated){
                            <li class="nav-item mb-4 text-center">
                                <a>
                                    <a class="nav-link d-flex flex-column align-items-center gap-2" asp-area="" asp-controller="Account" asp-action="SignOut">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                        Çıkış Yap
                                    </a>
                                </a>
                            </li>
                        }
                       




                    </ul>
                </div>
            </div>
        </nav>
      
     
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>
  <!--  <footer class="border-top footer text-muted">
        <div class="container-fluid p-4">
            &copy; 2025 - YonetimWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
      </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />



